@import "variate";
@import "mixin";

.oop{
  background: $navBackGround;
  border: $border;
}
$color:#345;
$borderHeader:5px solid $color;
.bug{
  $position-left:absolute;
  border: $borderHeader;
  position: $position-left;
}

#content{
  .list{
    border: $border;
    width: $navWIDTH;
    li{
      width: $navWIDTH;
      height: $navHEIGHT;
    }
  }
  .JQK{
    border: $border;
    width: $navHEIGHT;
    a{
      color: $navBackGround;
      & .JQKA:hover{
        color: $navBackGround;
      }
    }
  }
  .OPQ{
    h1,h2,p{
      position: absolute;
    }
  }
  .iop .abbr{
    a,span{
      color: $color;
      width: auto;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////
/*mixin*/
.content-box, .aps{
  @include bordercommon-radius;
  width: $navHEIGHT;
}
.nav-box{
  @include bordercommon-radius;
  @include opacity-common(0.7,70);
  .aas{
    @include opacity-common(0.4,40);
  }
}
/*@extend*/
.news-list{
  border: $border;
  @extend .nav-box;
}

//////////////////////////////////////////////////////////////////////////////
/*control directives*/

// @if
p{
  @if($navWIDTH>$bodyHEIGHT){
    color: #2d9ea2;
  }@else if($navHEIGHT<$bodyWIDTH){
    color: #9f2100;
  }@else{
    color: #93EB7E;
  }
}

//@for
/*through*/
@for $i from 1 through 3{
  .item-#{$i} {width: 2em * $i}
}
/*to*/
@for $i from 1 to 4{
  .list-#{$i} {height: 2px + $i}
}

// @each
/*each*/
@each $picurl in aps,js,php,noide,java,c{
  .#{$picurl}-item{
    background: url(img/#{$picurl}.png);
  }
}
/*eacj2*/
@each $animal, $color, $cursor in (puma, black, default), (sea-slug, blue, pointer), (egret, white, move) {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
    border: 2px solid $color;
    cursor: $cursor;
  }
}
/*each3*/
@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
  #{$header} {
    font-size: $size;
  }
}

// @while
/*@while*/
$i:6;
@while($i>0){
  .list-#{$i}{
    font-size: 2em * $i;
    $i: $i - 2;
  }
}
/*mixin*/
.ol{
  @include border-style(red,5px);
}

// 9.3.1. (Keyword Arguments) ->


























